*{
    margin: 0;
}

.navbar{
    padding: 1%;
    background-color:rgba(0, 0, 0, 0.607);
    position: fixed;
    backdrop-filter: blur(20px);
    padding-left: 17.5%;
    width: 100%;
    height: 17px;
    transition-duration: 0s;
    z-index: 1;
}
.navbar a{
    text-decoration: none;
    display: inline;
    padding-left: 2%;
    float: left;
    cursor: pointer;
    color: #DBDCDF;
    font-size: 0.76vw;
    font-family: Arial;
}
.navlogo{
    width: auto;
    height: 0.9vw;
    float: left;
}
.navlogo1{
  width: auto;
  height: 0.9vw;
}
.navicon{
    width: auto;
    height: 1vw;

}
.navbar a:hover{
    color: white;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    font-weight: 500;
}
.dropdown{
  float: left;
  overflow: hidden;
  padding-left: 2%;

}

.dropdown .dropbtn{
  text-decoration: none;
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  margin: 0;

}
.dropbtn{
  padding-left: 5%;
}

.dropbtn a{
  font-size: 0.8vw;
}
.dropdown:hover .dropbtn a {
  color: white;
}
.navbar:hover div1{
  filter: blur(20px);
}
.dropcon{
  display: none;
  position: absolute;
  width: 100%;
  top: 80%;
  background-color:rgb(44, 44, 44);
  left: 0;
}

.dropdown:hover .dropcon{
  display: block;
  
}
.navbar:hover {
  background-color: rgb(44, 44, 44) !important;
}
.dropcontitle{
  font-size: 0.8vw;
  font-family: Arial;
  color: rgb(182, 182, 182);
}

.column {
  float: left;
  width: 100%;
  padding: 0;
  background-color: inherit;
  height: auto;
  padding-top: 3%;
  padding-bottom: 2%;
  
}
.column1{
  float: left;
  width: 17%;
  padding: 0;
  height: auto;
  padding-left: 17.5%;
  

}

.column2{
  float: left;
  width: 15%;
  padding-left: 5%;
  height: auto;
  padding-top: 0;
}
.column1 a {
  float: none;
  padding: 2%;
  font-weight: 600;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: -2%;
  color: rgb(225, 225, 225);
  font-size: 1.5vw;
  font-family: Arial;
}
.column2 a {
  float: none;
  color: rgb(225, 225, 225);
  padding: 2%;
  margin-left: -2%;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1.5vw;
  font-weight: 550;
  font-family: Arial;
}

.column1 a:hover {
color: white;
font-weight: 600;
}

.column2 a:hover {
  color: white;
  font-weight: 550;
}

.div1{
    background-color: black;
    text-align: center;
    padding-top: 5%;
    overflow: hidden;
    vertical-align: bottom;
    width: 100%;
}
.title{
    color: white;
    text-align: center;
    font-size: 4.46vw;
    vertical-align: bottom;
    letter-spacing: 0;
    font-family: Arial;
    font-weight: 600;

}
#co{
    font-size: 30px;
}
.titlelink{
    font-size: 1.2vw;
    color: #1E90FF;
    font-family: Arial;
    text-decoration: none;
    font-weight: 501;
}
.titlelink:hover{
    text-decoration: underline;
    color: #1E90FF;
}

.i14{
    width: 56%;
    vertical-align: bottom;
    padding-top: 0.8%;
}
.i15{
    width: 57.9%;
    vertical-align: bottom;
    padding-top: 1.8%;
}
.i16{
    width: 52%;
}
.arrow {
    border: solid #1E90FF;
    border-width: 0 0.2vw 0.2vw 0;
    display:inline-block;
    position: rela;
    padding: 0.3vw;
    transform: rotate(-45deg);
  }

  .div2{
    text-align: center;
    padding-top: 5%;
    background-color: #fafafa;
    height: 80%;
  }
  .title2{
    font-size: 5vw;
    letter-spacing: 0;
    font-family: Arial;
    font-weight: 547;
  }

  .div3{
    padding-top: 5%;
    background-color: black;
    text-align: center;
    vertical-align: bottom;
    overflow: hidden;
    line-height: 30px;
    width: 100%;
  }
  .title3{
    font-size: 2.9vw;
    overflow: hidden;
    vertical-align: bottom;
    color: white;
    font-family: Arial;
    font-weight: 550;
  }
  .watchlogo{
    height: 2.9vw;
    width: auto;
  }
  #co2{
    color: rgb(192, 0, 0);
    font-size: 18px;
    letter-spacing: 3px;
    font-family: Arial;
  }
  #co3{
    color: white;
    font-size: 30px;
    font-family: Arial;
    font-weight: 100;
    line-height: 45px;
  }
.div4{
    background-color: white;
}
.div4-1{
    background-color: black;
    width: 49%;
    float: left;
    text-align: center;
    margin: 0.6%;
    padding-bottom: 1.8%;
    padding-top: 3.5%;
    margin-right: 0;
}
.wwdc{
    width: 80%;
}
#co4{
    color: white;
    font-size: 1.2vw;
    font-family: Arial;
    font-weight: 100;
    line-height: 2vw;
}
.div4-2{
    width: 47.1%;
    float: left;
    text-align: center;
    margin: 0.6%;
    margin-left: 0.6%;
    background-color: rgba(251,251,251,255);
    padding-bottom: 1.38%;
    padding-top: 4.1%;
    max-height: 50%;
}
.ipad{
    width: 55%;
}
.title4{
    font-size: 2.9vw;
    letter-spacing: 0;
    color: black;
    font-family: Arial;
    font-weight: 550;
  }
  #co5{
    color: black;
    font-size: 1.2vw;
    font-family: Arial;
    font-weight: 100;
    line-height: 25px;
  }
  .div4-3{
    background-color: black;
    width: 49%;
    max-height: 50%;
    float: left;
    text-align: center;
    margin: 0.6%;
    margin-right: 0;
    margin-top: 0;
    padding-top: 5%;
  }
  .mac{
    width: 80%;
  }
  .pod{
    width: 94.2%;
    vertical-align: bottom;
    padding-top: 5.5%;
  }
  .div4-4{
    background-image: url(resources/arcade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 49%;
    max-height: 50%;
    text-align: center;
    margin: 0.6%;
    padding-bottom: 28%;
    margin-right: 0;
    padding-top: 5%;
    margin-top: 0;
  }
  .titlelink1{
    font-size: 20px;
    color: white;
    font-family: Arial;
    text-decoration: none;
    font-weight: 501;
}
.titlelink1:hover{
    text-decoration: underline;
    color: #1E90FF;
}
.card{
    width: 50%;
}
.div4-5{
    width: 49%;
    float: right;
    text-align: center;
    margin: 0.6%;
    margin-left: 0;
    margin-top: 0;
    background-color: rgba(250,250,250,255);
    padding-bottom: 8.5%;
    padding-top: 5%;
    max-height: 50%;
}

.slider{
  height: 700px;
  width: 85%;
  padding-top: 10px;
  overflow: hidden;
  margin: auto;
}
.slides{
  width: 500%;
  display: flex;
  overflow: hidden;
}
.slides input{
  display: none;
}

.slide{
  height: 1200px;
  transition: 2s;
  position: relative;
  color: red;
  text-align: center;
}

.slide img{
  width: 100%;
  height: 55%;
}
.manualnav{
  position: absolute;
  margin-top: 680px;
  display:flex;
  width: 40%;
  left: 45%;
}
.manualbtn{
  border: none;
  background-color: black;
  opacity: 50%;
  padding: 0.8%;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manualbtn:not(:last-child){
  margin-right: 1.5%;
}
.manualbtn:hover{
  background-color: black;
  z-index: 1;
}

#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -24.9%;
}
#radio3:checked ~ .first{
  margin-left: -45.2%;
}
#radio4:checked ~ .first{
  margin-left: -65.4%;
}
#radio5:checked ~ .first{
  margin-left: -85.6%;
}
#radio6:checked ~ .first{
  margin-left: -105.8%;
}

.autonav{
  position: absolute;
  display: flex;
  width: 40%;
  margin-top: 680px;
  left: 45%;
}

.autonav div{
  border: none;
  padding: 0.8%;
  border-radius: 10px;
  transition: 1s;
}

.autonav div:not(:last-child){
  margin-right: 1.5%;
}

#radio1:checked ~ .autonav .autonavbtn1{
  background-color: black;
}
#radio2:checked ~ .autonav .autonavbtn2{
  background-color: black;
}
#radio3:checked ~ .autonav .autonavbtn3{
  background-color: black;
}
#radio4:checked ~ .autonav .autonavbtn4{
  background-color: black;
}
#radio5:checked ~ .autonav .autonavbtn5{
  background-color: black;
}
#radio6:checked ~ .autonav .autonavbtn6{
  background-color: black;
}
.slidecap{
  color: white;
  font-size: 20px;
  position:absolute;
  top: 590px;
  font-family: Arial;
  left: 50px;
  display: flex;
  text-align: center;
}
.button{
  background-color: white;
  padding: 15px;
  padding-right: 36px;
  border-radius: 25px; 
  transition-duration: 0.5s;
}
.slidecap a{
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-family: Arial;
  font-weight: 600;
}
#capicon{
  width: 25px;
  height: auto;
  bottom: 10px;
  position: absolute;
}
.slidecap p{
  padding-top: 10px;
}
.button:hover{
  background-color: rgba(255, 255, 255, 0.725);
}
.div5{
  background-color: #f5f5f7;
  padding-top: 2%;
  text-align: left;
  padding-left: 13.7%;
  padding-bottom: 1%;
  padding-right: 13.8%;
  overflow: hidden;
}
.des{
  text-align: justify;
  font-size: 12px;
  font-family: Arial;
  color: #545457;
}
.des a{
  color: rgb(97, 97, 97);
}
.hr{
  padding-left: 13.7%;
  padding-right: 13.8%;
}

.div5-1{
  font-size: 12px;
  width: 20%;
  float: left;
  font-family: Arial;
  color: #545457;
  line-height: 205%;
  padding-bottom: 85px;
}
#h3title{
  color: #2b2b2d;
  font-size: 12px;
}
#deslink{
  color: rgb(50, 50, 246);
}
.div5-2{
  position: absolute;
  padding-top: 31%;
  font-size: 12px;
  font-family: Arial;
  color: #545457;
  padding-bottom: 2%;
}